.my-hvwc
	article, form
		position: relative
		padding-left: 90px
		margin-bottom: 50px

		img
			width: 80px
			height: 80px
			position: absolute
			left: 0
			top: 0

		.dropdown
			width: auto
			margin-top: -5px
			button
				padding-right: 20px

		textarea
			height: 100px