body.home
	.carousel
		height: $carousel-height
		margin: $margin 0 0 0
		overflow-x: hidden
		visibility: hidden

		button
			height: 0
			width: 0
			margin-top: -40px
			border: 40px solid transparent
			opacity: .9
			&.slick-prev
				left: 0
				border-right: 40px solid white
			&.slick-next
				right: 0
				border-left: 40px solid white
			&::before
				content: ''
			&:hover
				opacity: 1

		.item
			color: inherit
			height: $carousel-height
			overflow: hidden
			width: $carousel-width

			a:hover
				color: $default

			a.edit
				position: absolute
				top: 15px
				right: 15px
				font-size: 20px

			.inner
				position: relative
				overflow: hidden
				height: $carousel-height
				padding: 50px 20px 40px 20px

			h1
				+font("lg")
				line-height: 1.3
				letter-spacing: -1px
				margin: 0 0 $margin 0

			.image
				position: absolute
				background-size: cover
				opacity: .15
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: -1

			.description
				+font("md")
				text-transform: uppercase
				display: none

			.type
				+font("sm", "mono")
				left: 20px
				position: absolute
				text-transform: uppercase
				top: 20px

			@each $section in $sections
				$name:  nth($section, 1)
				$color: nth($section, 2)
				&.#{$name} .inner
					background-color: transparentize($color, .7)
					color: $color
					a
						color: $color
						&:hover
							text-decoration: none

		&.slick-initialized
			visibility: visible

	.promos
		padding-top: $margin * 2

		div.promo
			border: $border-width solid $default
			min-height: $promo-height
			position: relative
			margin-bottom: $margin
			@include shadow()

			&.events
				border-color: $events
				padding: $margin 20px
				+font("sm")
				table
					width: 100%
					color: $about
					th, a
						+font("sm", "bold")
						color: $events
					th, td
						text-align: center
						height: 29px
					th:first-child
						width: $margin * 2
					tbody th
						text-align: right
						width: 0

			&.courses
				border-color: $courses
				a
					color: $courses
				form
					padding: $margin / 2 $margin
					label
						font-size: 100%
						text-align: right
						padding-right: 0
					.form-group
						margin-bottom: 0
						.dropdown-toggle
							margin-top: 5px
					input[type=submit]
						color: $courses
						background-color: transparent
						border: 0
						font-size: 18px
						text-decoration: underline
						text-transform: uppercase
						padding-left: 0
						padding-right: 0

			&.support
				border-color: $publications
				padding-top: $promo-height / 4
				a
					color: $publications
					+font("xl")
					display: block
					line-height: 1
					text-align: center
					text-transform: uppercase

	.supporters
		padding-top: $margin * 2
		img
			margin-top: 4px
		p
			padding-bottom: $margin
			color: $about
			a
				color: $about

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px)
		.carousel
			.item
				margin: 0 $margin / 2
				.inner
					padding: 50px 40px 40px 60px 
					.description
						display: block

	@media (min-width: 1200px)
		.carousel
			.item
				h1
					+font("xl")
