form#support
	label.choice
		color: $default
		cursor: pointer
		float: left
		width: 70px
		line-height: 23px
		margin-right: $margin
		input
			display: none
		&.active
			background-color: $default
			color: white
	#amount
		float: left
		width: 140px