//eg body.courses .switchboard or body.home promo.courses
@each $section in $sections
	$name:    nth($section, 1)
	$color:   nth($section, 2)
	$light:   nth($section, 3)
	$lighter: nth($section, 4)

	body.#{$name}, body.home .promo.#{$name}

		.form-control
			border-color: $color

		.btn-group
			&.dropdown
				button
					background-color: $light
					border-color: $light
					color: $color
				span.caret
					border-top-color: $color
				ul
					background-color: $lighter
					li.active a, li a:hover, li.divider
						background-color: $light
					li a, li.active a:hover
						color: $color

		.chkbox
			background-color: $color
			color: $lighter

	body.#{$name}

		color: $color

		a#logo
			background-image: url(/assets/img/logo-#{$name}.png)

		nav#utility
			.dropdown
				li.divider
					background-color: $light
				span.caret
					border-top-color: $color

		.alert
			border: 0
			&.alert-info
				background-color: $light
				color: $color
			&.alert-warning
				background-color: $color

		.background
			background: url(/assets/img/background-#{$name}.png) center center no-repeat

		.btn
			&.btn-primary
				background-color: $color
			&.btn-default
				border-color: $color
				color: $color
			&:hover, &:disabled, &:active, &:focus, &.btn-disabled
				color: $color
				background-color: $light
				border-color: $light
				
		a, small
			color: $color

		.row.page
			.inner
				border-color: $color
			.content
				figure, mark
					background-color: $lighter
				blockquote
					border-left-color: $lighter
			.side
				form.switchboard
					border-color: $color
				#cart
					border-color: $color
					color: $color
				.wallpaper
					@include background-opacity($color, .2)
				ul li.active a
					color: $color

		.modal
			.close
				color: $color

	body
		.nav a:hover.#{$name}
			color: $color

