body.contact

	#map-canvas
		height: 500px

		.infowindow
			+font("md")
			height: 170px
			width: 300px

			h3
				+font("md", "bold")
				margin: 0 0 $margin

			p
				margin: 0 0 $margin
				
			a
				text-decoration: none

