body.contact

	#map-canvas
		height: 400px

		.infowindow
			+font("sm")
			height: 156px
			width: 200px

			h3
				+font("md", "bold")
				margin: 0 0 $margin

			p
				margin: 0 0 $margin
				
			a
				text-decoration: none

	@media (min-width: $screen-md)

		#map-canvas
			height: 500px

			.infowindow
				+font("md")
				width: 300px
				height: 170px
