a
	color: $default
	&:hover, &:active 
		color: $default-light
	&:focus
		outline: none
	&.login
		cursor: pointer
	&.logo
		display: block
	&.edit
		font-size: 100%
		opacity: .4
		&:hover
			text-decoration: none
			opacity: 1
	&.glyphicon:hover
		text-decoration: none
	&.label[href]:hover
		color: inherit
		text-decoration: underline

blockquote
	+font("md", "italic")
	border-width: $border-width 0
	border-style: dashed
	clear: left
	margin: $margin * 2 0
	padding: $margin * 2 $margin * 4
	p:last-child
		margin-bottom: 0

body 
	+font()
	color: $default
	padding-bottom: $margin

b, strong
	font-family: $font-bold

figure
	margin: 5px $margin $margin 0
	float: left 
	+font("xs", "mono")
	figcaption
		padding: $margin / 2 $margin $margin * 1.5 $margin / 2
	&.portrait
		width: 220px
		img
			width: 100%
			height: auto
	&.landscape
		width: 360px
		img
			width: 100%
			height: auto

input
	font-family: $font-mono
	&[type=checkbox]
		cursor: pointer
		&:focus
			outline: none

.form-control
	border-radius: 0
	border-color: $default
	height: 37px
	box-shadow: none
	margin-bottom: $margin
	&:focus
		box-shadow: none
		border-color: $default-light
	&.error
		border-color: red

select
	font-family: $font-mono
	-webkit-appearance: none
	-moz-appearance:    none
	appearance:         none

.select
	position: relative
	&:after
		content: "\25BC"
		position: absolute
		right: 22px
		top: 10px
		font-size: 14px


select:focus, option:focus
	outline: none

label
	font-family: $font-mono
	font-weight: normal
	font-size: 13px

.form-group:last-child
	margin-bottom: 0

.btn-group
	font-family: $font-mono
	&.dropdown
		width: 100%
		position: relative
		button.btn
			width: 100%
			height: 26px
			border-radius: 0
			text-align: left
			line-height: 1
			text-transform: none
			padding: 6px 12px
		span.caret
			border-width: 9px 6px 0
			position: absolute
			top: 9px
			right: 4px
		ul
			min-width: 100%
			max-height: 300px
			overflow-y: scroll
			border-radius: 0
			li
				a
					cursor: pointer

div.checkbox
	margin-top: 0
	padding: 0
	label
		font-family: $font
	.chkbox
		width: 20px
		height: 20px
		float: left
		margin-right: 10px
		background-color: $default-light
		text-align: center
		color: $default
		input
			display: none
		i
			visibility: hidden
		&.active i
			visibility: visible

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-family: $font

h2
	font-size: #{$font-md}rem
	text-transform: uppercase

h4
	font-size: #{$font-sm}rem
	text-transform: uppercase
	font-family: $font-mono
	margin: $margin 0 $margin / 2 0

mark
	color: inherit
	
p
	margin: 0 0 $margin 0
	a
		text-decoration: underline
	img
		margin-top: 7px !important

.table
	thead
		tr
			th
				font-family: $font-mono
				font-size: 85%
				text-transform: uppercase
				border-bottom: 0
	tbody, tfoot
		tr
			td
				border-top: 0

.alert
	margin: 15px 0 0
	border-radius: 0

.align-right
	text-align: right

.btn, input[type=submit]
	border-radius: 0
	padding: 4px 12px 3px 12px
	text-transform: uppercase
	text-decoration: none
	letter-spacing: 2px
	background-color: transparent
	&.btn-default
		color: $default
		border-color: $default
		border: 1px solid $default
	&.btn-primary
		color: white
		background-color: $default
		min-width: 200px
		border: 0
		padding: 5px 4px 4px 4px
	&:hover, &:disabled, &:active, &:focus, &.btn-disabled
		outline: 0
		border-color: $default-light
		background-color: $default-light
	&.btn-disabled
		cursor: default

.label
	+font("xs", "mono")
	text-transform: uppercase
	margin: 0
	color: inherit