//mixins
=shadow()
	box-shadow: 5px 5px 5px transparentize($default, .5)

=background-opacity($color, $opacity)
	$red:	red($color)
	$green:	green($color)
	$blue:	blue($color)
	background-color: rgba($red, $green, $blue, $opacity)

=font($size:"sm", $style:"regular")
	@if $size == "xs"
		font-size: 12px
		font-size: 1.2rem
	@if $size == "sm"
		font-size: 14px
		font-size: 1.4rem
	@if $size == "md"
		font-size: 20px
		font-size: 2.0rem
	@if $size == "lg"
		font-size: 36px
		font-size: 3.6rem
	@if $size == "xl"
		font-size: 42px
		font-size: 4.2rem

	@if $style == "regular"
		font-family: "Apercu Pro Regular", Helvetica, Arial, sans-serif
		font-weight: normal
		font-style: normal
	@if $style == "mono"
		font-family: "Apercu Mono Pro Regular", Monaco, monospace
		font-weight: normal
		font-style: normal
	@if $style == "bold"
		font-family: "Apercu Pro Bold", Helvetica, Arial, sans-serif
		font-weight: bold
		font-style: normal
	@if $style == "italic"
		font-family: "Apercu Pro Italic", Helvetica, Arial, sans-serif
		font-weight: normal
		font-style: italic