body .header a {
  background-image: url(/assets/img/logo-avalon.png);
  width: 259px;
  height: 100px; }
body a {
  color: #3b9b8e; }
  body a:hover, body a:active, body a:focus {
    color: #72cabe; }
body .btn-primary {
  background-color: #3b9b8e;
  border-color: #3b9b8e; }
  body .btn-primary:hover, body .btn-primary:active, body .btn-primary:focus {
    background-color: #72cabe;
    border-color: #3b9b8e; }
body .redactor_editor p {
  margin-top: 0 !important;
  margin-bottom: 15px !important; }
  body .redactor_editor p img {
    margin-top: 7px !important; }
body .redactor_editor p, body .redactor_editor ul, body .redactor_editor ol {
  line-height: 1.42857143;
  font-size: 16px; }
body .redactor_editor blockquote {
  font-style: inherit !important;
  border-left: 5px solid #eee;
  font-size: 15px !important;
  padding: 10px 20px !important;
  margin: 0 0 20px !important; }
  body .redactor_editor blockquote p:last-child {
    margin-bottom: 0 !important; }
