$green1 : #3b9b8e;
$green2 : lighten($green1, 20%);

body {
	.header {
		a { background-image: url(/assets/img/logo-avalon.png); width: 259px; height: 100px; }
	}
	a { 
		color: $green1; 
		&:hover, &:active, &:focus { color: $green2; }
	}
	.btn-primary {
		background-color: $green1; border-color: $green1; 
		&:hover, &:active, &:focus { background-color: $green2; border-color: $green1; }
	}

	.redactor_editor {
		p {
			margin-top: 0 !important;
			margin-bottom: 15px !important;
			img { margin-top: 7px !important; }
		}
		p, ul, ol { line-height: 1.42857143; font-size: 16px; }

		blockquote { 
			font-style: inherit !important; border-left: 5px solid #eee;
			font-size: 15px !important; padding: 10px 20px !important; margin: 0 0 20px !important;
			p:last-child { margin-bottom: 0 !important; }
		}
	}
}