body .header a {
  background-image: url(/assets/img/logo-avalon.png);
  width: 259px;
  height: 100px; }
body a {
  color: #3b9b8e; }
  body a:hover, body a:active {
    color: #72cabe; }
body .btn-primary {
  background-color: #3b9b8e;
  border-color: #3b9b8e; }
  body .btn-primary:hover, body .btn-primary:active {
    background-color: #72cabe;
    border-color: #3b9b8e; }
