body {
  font-family: "Apercu Pro Regular", "Helvetica Neue", sans-serif; }
  body.login div.modal .modal-content {
    margin-top: 15%; }
  body.login div.modal .modal-header {
    background-color: #298c76;
    color: white; }
    body.login div.modal .modal-header .modal-title {
      line-height: 1; }
  body.login h1 {
    font-weight: normal;
    font-family: "Apercu Pro Bold", "Helvetica Neue", sans-serif; }
  body.login .alert {
    padding: 20px;
    font-size: 1.5rem; }
  body.login a.github {
    display: none; }
  body .header a {
    background-image: url(/assets/img/logo-avalon.png);
    width: 259px;
    height: 100px; }
  body a, body a:hover, body a:visited, body a:active {
    color: #298c76; }
    body a.btn-default, body a:hover.btn-default, body a:visited.btn-default, body a:active.btn-default {
      color: inherit; }
  body b, body strong {
    font-weight: normal;
    font-family: "Apercu Pro Bold", "Helvetica Neue", sans-serif; }
  body .btn-primary {
    background-color: #298c76;
    border: 0; }
    body .btn-primary:hover, body .btn-primary:active, body .btn-primary:focus {
      background-color: #c6eee5;
      color: #298c76; }
  body .btn {
    font-family: "Apercu Mono Pro Regular", "Helvetica Neue", sans-serif; }
  body .alert {
    border-radius: 0;
    text-align: center;
    padding: 80px 20px;
    font-size: 1.7rem; }
    body .alert.alert-warning {
      background-color: #edfaf7;
      border: 0;
      color: #298c76; }
  body .redactor-editor {
    font-family: "Apercu Pro Regular", "Helvetica Neue", sans-serif !important;
    font-size: 1.7rem !important; }
    body .redactor-editor p {
      font-family: "Apercu Pro Regular", "Helvetica Neue", sans-serif !important;
      margin-top: 0 !important;
      margin-bottom: 15px !important; }
      body .redactor-editor p img {
        margin-top: 7.5px !important; }
    body .redactor-editor p, body .redactor-editor ul, body .redactor-editor ol, body .redactor-editor h2, body .redactor-editor blockquote {
      line-height: 1.42857 !important;
      color: inherit;
      font-size: inherit !important; }
    body .redactor-editor b, body .redactor-editor strong {
      font-weight: normal;
      font-family: "Apercu Pro Bold", "Helvetica Neue", sans-serif !important; }
    body .redactor-editor h1, body .redactor-editor h2, body .redactor-editor h3, body .redactor-editor h4, body .redactor-editor h5 {
      color: inherit !important; }
    body .redactor-editor h2 {
      font-family: "Apercu Pro Regular", "Helvetica Neue", sans-serif !important;
      font-size: 1.9rem !important;
      text-transform: uppercase; }
    body .redactor-editor h3 {
      font-family: "Apercu Mono Pro Regular", "Helvetica Neue", sans-serif !important;
      font-size: 1.6rem !important;
      margin-top: 30px;
      margin-bottom: 10px; }
    body .redactor-editor blockquote {
      border-width: 3px 0;
      border-style: dashed;
      clear: left;
      margin: 30px 0 !important;
      padding: 30px 60px !important; }
      body .redactor-editor blockquote p:last-child {
        margin-bottom: 0 !important; }
  body table.table tr.group td {
    font-weight: normal;
    font-family: "Apercu Mono Pro Regular", "Helvetica Neue", sans-serif; }
  body table.table thead th {
    font-weight: normal;
    font-family: "Apercu Mono Pro Regular", "Helvetica Neue", sans-serif;
    font-size: 11px; }
  body form label {
    font-weight: normal;
    font-family: "Apercu Mono Pro Regular", "Helvetica Neue", sans-serif; }

form.default .form-group.field-html .redactor-editor {
  color: #298c76; }
  form.default .form-group.field-html .redactor-editor blockquote {
    border-color: #298c76; }
  form.default .form-group.field-html .redactor-editor a {
    color: #298c76 !important; }

form.about .form-group.field-html .redactor-editor {
  color: #494f43; }
  form.about .form-group.field-html .redactor-editor blockquote {
    border-color: #494f43; }
  form.about .form-group.field-html .redactor-editor a {
    color: #494f43 !important; }

form.courses .form-group.field-html .redactor-editor {
  color: #325435; }
  form.courses .form-group.field-html .redactor-editor blockquote {
    border-color: #325435; }
  form.courses .form-group.field-html .redactor-editor a {
    color: #325435 !important; }

form.events .form-group.field-html .redactor-editor {
  color: #9f6117; }
  form.events .form-group.field-html .redactor-editor blockquote {
    border-color: #9f6117; }
  form.events .form-group.field-html .redactor-editor a {
    color: #9f6117 !important; }

form.blog .form-group.field-html .redactor-editor {
  color: #695d73; }
  form.blog .form-group.field-html .redactor-editor blockquote {
    border-color: #695d73; }
  form.blog .form-group.field-html .redactor-editor a {
    color: #695d73 !important; }

form.shp .form-group.field-html .redactor-editor {
  color: #c65146; }
  form.shp .form-group.field-html .redactor-editor blockquote {
    border-color: #c65146; }
  form.shp .form-group.field-html .redactor-editor a {
    color: #c65146 !important; }

form.contact .form-group.field-html .redactor-editor {
  color: #4b5245; }
  form.contact .form-group.field-html .redactor-editor blockquote {
    border-color: #4b5245; }
  form.contact .form-group.field-html .redactor-editor a {
    color: #4b5245 !important; }

/*# sourceMappingURL=center.css.map */