body {
  padding-bottom: 100px;
  font-family: "Apercu Pro Regular", Helvetica, Arial, sans-serif; }
  body a {
    color: #494f43; }
    body a:hover, body a:active {
      color: #c9cdc4; }
    body a:focus {
      outline: none; }
  body button.dropdown-toggle {
    background-color: #b3d2b6;
    border-radius: 0;
    width: 172px;
    height: 20px;
    position: relative; }
    body button.dropdown-toggle span.caret {
      border-width: 9px;
      color: #325435;
      position: absolute;
      top: 9px;
      right: 0; }
  body .row {
    padding-top: 30px; }
    body .row.banner {
      position: relative; }
      body .row.banner nav#utility {
        position: absolute;
        right: 15px;
        top: 0; }
        body .row.banner nav#utility a {
          color: #494f43;
          margin-left: 40px; }
    body .row.nav {
      text-align: center; }
      body .row.nav a {
        text-transform: uppercase;
        font-size: 16px; }
      body .row.nav div.active a, body .row.nav div a:hover {
        text-decoration: underline; }
        body .row.nav div.active a.about, body .row.nav div a:hover.about {
          color: #298c76; }
        body .row.nav div.active a.courses, body .row.nav div a:hover.courses {
          color: #325435; }
        body .row.nav div.active a.events, body .row.nav div a:hover.events {
          color: #9f6117; }
        body .row.nav div.active a.blog, body .row.nav div a:hover.blog {
          color: #695d73; }
        body .row.nav div.active a.publications, body .row.nav div a:hover.publications {
          color: #c65146; }
        body .row.nav div.active a.contact, body .row.nav div a:hover.contact {
          color: #4b5245; }
    body .row.content {
      padding-top: 15px; }
  body.home .carousel {
    padding-top: 15px;
    width: 100%;
    height: 415px;
    overflow-x: hidden; }
    body.home .carousel .inner {
      width: 4655px;
      margin-left: -60px; }
      body.home .carousel .inner .item {
        float: left;
        height: 400px;
        width: 654px;
        overflow: hidden;
        margin-right: 15px;
        padding: 20px 40px;
        position: relative;
        color: inherit; }
        body.home .carousel .inner .item h1 {
          margin: 40px 0 0 0;
          font-size: 40px; }
        body.home .carousel .inner .item img {
          position: absolute;
          top: 0;
          left: 0;
          opacity: .15; }
        body.home .carousel .inner .item .description {
          margin: 20px;
          text-transform: uppercase; }
        body.home .carousel .inner .item .type {
          text-transform: uppercase;
          position: absolute;
          top: 20px; }
        body.home .carousel .inner .item.course {
          background-color: rgba(50, 84, 53, 0.3);
          color: #325435; }
          body.home .carousel .inner .item.course a {
            color: #325435; }
        body.home .carousel .inner .item.blog {
          background-color: rgba(105, 93, 115, 0.3);
          color: #695d73; }
          body.home .carousel .inner .item.blog a {
            color: #695d73; }
        body.home .carousel .inner .item.event {
          background-color: rgba(159, 97, 23, 0.3);
          color: #9f6117; }
          body.home .carousel .inner .item.event a {
            color: #9f6117; }
        body.home .carousel .inner .item.publication {
          background-color: rgba(198, 81, 70, 0.3);
          color: #c65146; }
          body.home .carousel .inner .item.publication a {
            color: #c65146; }
        body.home .carousel .inner .item:hover {
          text-decoration: none; }
  body.home .promos div.promo {
    height: 161px;
    border: 3px solid #494f43;
    position: relative;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
    body.home .promos div.promo.events {
      border-color: #9f6117; }
    body.home .promos div.promo.courses {
      border-color: #325435; }
      body.home .promos div.promo.courses form {
        padding: 7.5px 15px; }
        body.home .promos div.promo.courses form legend {
          text-transform: uppercase;
          border: 0;
          margin-bottom: 0; }
        body.home .promos div.promo.courses form .form-group {
          margin-bottom: 0; }
          body.home .promos div.promo.courses form .form-group .dropdown-toggle {
            margin-top: 5px; }
        body.home .promos div.promo.courses form input[type=submit] {
          background-color: transparent;
          border: 0;
          position: absolute;
          right: 15px;
          bottom: 10px;
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 18px; }
    body.home .promos div.promo.support {
      border-color: #c65146;
      padding-top: 35px; }
      body.home .promos div.promo.support a {
        display: block;
        line-height: 1;
        text-align: center;
        font-size: 40px;
        color: #c65146;
        text-transform: uppercase; }
  body.about .page {
    color: #298c76; }
    body.about .page .inner {
      border-top: 3px solid #298c76; }
    body.about .page a {
      color: #298c76;
      font-size: 150%; }
    body.about .page ul {
      list-style-type: none; }
  body.about .side .inner {
    border: 3px solid #298c76;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.courses .page {
    color: #325435; }
    body.courses .page .inner {
      border-top: 3px solid #325435; }
    body.courses .page a {
      color: #325435;
      font-size: 150%; }
    body.courses .page ul {
      list-style-type: none; }
  body.courses .side .inner {
    border: 3px solid #325435;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.events .page {
    color: #9f6117; }
    body.events .page .inner {
      border-top: 3px solid #9f6117; }
    body.events .page a {
      color: #9f6117;
      font-size: 150%; }
    body.events .page ul {
      list-style-type: none; }
  body.events .side .inner {
    border: 3px solid #9f6117;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.blog .page {
    color: #695d73; }
    body.blog .page .inner {
      border-top: 3px solid #695d73; }
    body.blog .page a {
      color: #695d73;
      font-size: 150%; }
    body.blog .page ul {
      list-style-type: none; }
  body.blog .side .inner {
    border: 3px solid #695d73;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.publications .page {
    color: #c65146; }
    body.publications .page .inner {
      border-top: 3px solid #c65146; }
    body.publications .page a {
      color: #c65146;
      font-size: 150%; }
    body.publications .page ul {
      list-style-type: none; }
  body.publications .side .inner {
    border: 3px solid #c65146;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.contact .page {
    color: #4b5245; }
    body.contact .page .inner {
      border-top: 3px solid #4b5245; }
    body.contact .page a.btn-primary {
      color: white;
      background-color: #4b5245; }
    body.contact .page #map-canvas {
      height: 500px; }
  body.contact .side .inner {
    border: 3px solid #4b5245;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
