$red1		: #7f2f20;
$red2		: #c96e50;
$red3		: #ebc097;
$purple1	: #47434c;
$purple2	: #928388;
$purple3	: #d6bdc1;
$brown1		: #4f3914;
$brown2		: #a76f39;
$brown3		: #fce5b5;
$gray1		: #2b2f27;
$gray2		: #6c6b5f;
$gray3		: #858f85;
$green1		: #105745;
$green2		: #3d946a;
$green3		: #82cbaa;

$white		: #ffffff;

//dimensions
$row_spacing		: 24px;
$carousel_width 	: 520px;
$carousel_margin	: 20px;
$carousel_height	: 300px;

$link 			: #3b9b8e;
$link_highlight : lighten(#3b9b8e, 20%);

body {
	padding-bottom: 40px; 
	a {
		color: $link;
		&:hover, &:active { color: $link_highlight; }
		&:focus { outline: none; }
	}

	.row { padding-top: $row_spacing; }

	.subnav {
		li {
			list-style-type: none; margin: 0 -20px;
			a {
				display: block; padding: 6px 15px; border-top: 1px solid $link_highlight;
			}
			&.active {
				a {
					background-color: $link; color: $white; 
				}
			}
		}
	}

	#map-canvas { height: 400px; }

	&.home {
		.banner {
			position: relative;
			.login {
				background-color: yellow;
				border: 3px solid #ccc;
				border-top: 0;
				position: absolute;
				top: -$row_spacing;
				right: 15px;
				padding: 5px 20px;
				font-size: 20px; 
				border-radius: 0 0 10px 10px;
				color: inherit;
				opacity: .7;
				&:hover { text-decoration: none; opacity: 1; }
			}
		}
		.nav {
			a { 
				display: block; padding: 6px 10px; background-color: $gray3; color: white; text-align: center;
				text-transform: uppercase; font-size: 16px;
				&:hover, &.active { background-color: $gray2; text-decoration: none; }
			}
		}
		.carousel {
			padding-top: $row_spacing; width: 100%; height: $carousel_height + $row_spacing; overflow-x: hidden;
			.inner {
				width: ($carousel_width + $carousel_margin) * 7; margin-left: -60px;
				.item {
					float: left; height: $carousel_height; width: $carousel_width; overflow: hidden;
					margin-right: $carousel_margin; padding: 20px 40px; position: relative; color: inherit;

					h1 { margin: 40px 0 0 0; font-size: 30px; }

					.description { margin: 20px; text-transform: uppercase; }
					.type { text-transform: uppercase; position: absolute; top: 20px; }
					&.course		{ background-color: $red3; }
					&.blog			{ background-color: $brown3; }
					&.event 		{ background-color: $green3; }
					&.publication	{ background-color: $purple3; }

					&:hover { text-decoration: none; }
				}
			}
		}
		.promos {
			a { 
				display: block; height: 140px; line-height: 130px; text-align: center; 
				border: 5px solid $red3; font-size: 50px; color: $red2;
			}
		}
	}
}