body {
  padding-bottom: 100px;
  font-family: "Apercu Pro Regular", Helvetica, Arial, sans-serif; }
  body a {
    color: #494f43; }
    body a:hover, body a:active {
      color: #c9cdc4; }
    body a:focus {
      outline: none; }
  body .row {
    padding-top: 24px; }
  body #map-canvas {
    height: 400px; }
  body.home .banner {
    position: relative; }
    body.home .banner .login {
      background-color: yellow;
      border: 3px solid #ccc;
      border-top: 0;
      position: absolute;
      top: -24px;
      right: 15px;
      padding: 5px 20px;
      font-size: 20px;
      border-radius: 0 0 10px 10px;
      color: inherit;
      opacity: .7; }
      body.home .banner .login:hover {
        text-decoration: none;
        opacity: 1; }
  body.home .nav {
    text-align: center; }
    body.home .nav a {
      text-transform: uppercase;
      font-size: 16px; }
    body.home .nav div.active a, body.home .nav div a:hover {
      text-decoration: underline; }
      body.home .nav div.active a.about, body.home .nav div a:hover.about {
        color: #298c76; }
      body.home .nav div.active a.courses, body.home .nav div a:hover.courses {
        color: #325435; }
      body.home .nav div.active a.events, body.home .nav div a:hover.events {
        color: #9f6117; }
      body.home .nav div.active a.blog, body.home .nav div a:hover.blog {
        color: #695d73; }
      body.home .nav div.active a.publications, body.home .nav div a:hover.publications {
        color: #c65146; }
      body.home .nav div.active a.contact, body.home .nav div a:hover.contact {
        color: #4b5245; }
  body.home .carousel {
    padding-top: 24px;
    width: 100%;
    height: 424px;
    overflow-x: hidden; }
    body.home .carousel .inner {
      width: 4655px;
      margin-left: -60px; }
      body.home .carousel .inner .item {
        float: left;
        height: 400px;
        width: 654px;
        overflow: hidden;
        margin-right: 11px;
        padding: 20px 40px;
        position: relative;
        color: inherit; }
        body.home .carousel .inner .item h1 {
          margin: 40px 0 0 0;
          font-size: 30px; }
        body.home .carousel .inner .item .description {
          margin: 20px;
          text-transform: uppercase; }
        body.home .carousel .inner .item .type {
          text-transform: uppercase;
          position: absolute;
          top: 20px; }
        body.home .carousel .inner .item.course {
          background-color: #b3d2b6; }
        body.home .carousel .inner .item.blog {
          background-color: #e8e5ea; }
        body.home .carousel .inner .item.event {
          background-color: #f6ddbf; }
        body.home .carousel .inner .item.publication {
          background-color: white; }
        body.home .carousel .inner .item:hover {
          text-decoration: none; }
  body.home .promos div.promo {
    height: 140px;
    border: 5px solid #494f43;
    overflow: hidden; }
    body.home .promos div.promo.events {
      border-color: #9f6117; }
    body.home .promos div.promo.courses {
      border-color: #325435; }
    body.home .promos div.promo.support {
      border-color: #c65146;
      padding-top: 23px; }
      body.home .promos div.promo.support a {
        display: block;
        line-height: 1;
        text-align: center;
        font-size: 40px;
        color: #c65146;
        text-transform: uppercase; }
