body {
  padding-bottom: 100px;
  font-family: "Apercu Pro Regular", Helvetica, Arial, sans-serif; }
  body a {
    color: #494f43; }
    body a:hover, body a:active {
      color: #c9cdc4; }
    body a:focus {
      outline: none; }
    body a.login {
      cursor: pointer; }
    body a.logo {
      display: block; }
  body input[type=checkbox] {
    cursor: pointer; }
    body input[type=checkbox]:focus {
      outline: none; }
  body label {
    font-family: "Apercu Mono Pro Regular";
    font-weight: normal;
    font-size: 90%; }
  body div.checkbox {
    margin-top: 0; }
    body div.checkbox label {
      font-family: "Apercu Pro Regular"; }
  body .btn-group {
    font-family: "Apercu Mono Pro Regular"; }
  body p {
    margin: 0 0 15px 0; }
  body dt {
    font-family: "Apercu Mono Pro Regular"; }
  body button.dropdown-toggle {
    background-color: #b3d2b6;
    border-radius: 0;
    width: 172px;
    height: 20px;
    position: relative; }
    body button.dropdown-toggle span.caret {
      border-width: 9px;
      color: #325435;
      position: absolute;
      top: 9px;
      right: 0; }
  body .row {
    padding-top: 30px; }
    body .row.banner div {
      position: relative; }
      body .row.banner div nav#utility {
        position: absolute;
        right: 30px;
        top: 0; }
        body .row.banner div nav#utility a {
          color: #298c76;
          margin-left: 40px; }
          body .row.banner div nav#utility a.dashicons {
            font-size: 240%;
            line-height: .5; }
            body .row.banner div nav#utility a.dashicons:last-child {
              margin-left: 10px; }
            body .row.banner div nav#utility a.dashicons:hover, body .row.banner div nav#utility a.dashicons:focus, body .row.banner div nav#utility a.dashicons:active {
              text-decoration: none;
              color: #7c8672; }
    body .row.nav {
      text-align: center; }
      body .row.nav a {
        text-transform: uppercase;
        font-size: 16px; }
      body .row.nav div.active a, body .row.nav div a:hover {
        text-decoration: underline; }
        body .row.nav div.active a.about, body .row.nav div a:hover.about {
          color: #298c76; }
        body .row.nav div.active a.courses, body .row.nav div a:hover.courses {
          color: #325435; }
        body .row.nav div.active a.events, body .row.nav div a:hover.events {
          color: #9f6117; }
        body .row.nav div.active a.blog, body .row.nav div a:hover.blog {
          color: #695d73; }
        body .row.nav div.active a.publications, body .row.nav div a:hover.publications {
          color: #c65146; }
        body .row.nav div.active a.contact, body .row.nav div a:hover.contact {
          color: #4b5245; }
    body .row.content {
      padding-top: 15px; }
  body.home .carousel {
    padding-top: 15px;
    width: 100%;
    height: 415px;
    overflow-x: hidden; }
    body.home .carousel .inner {
      width: 4655px;
      margin-left: -60px; }
      body.home .carousel .inner .item {
        float: left;
        height: 400px;
        width: 654px;
        overflow: hidden;
        margin-right: 15px;
        padding: 20px 40px;
        position: relative;
        color: inherit; }
        body.home .carousel .inner .item h1 {
          margin: 40px 0 0 0;
          font-size: 43px;
          line-height: 1.3; }
        body.home .carousel .inner .item img {
          position: absolute;
          top: 0;
          left: 0;
          opacity: .15; }
        body.home .carousel .inner .item .description {
          margin: 20px;
          text-transform: uppercase; }
        body.home .carousel .inner .item .type {
          text-transform: uppercase;
          position: absolute;
          top: 20px; }
        body.home .carousel .inner .item.course {
          background-color: rgba(50, 84, 53, 0.3);
          color: #325435; }
          body.home .carousel .inner .item.course a {
            color: #325435; }
        body.home .carousel .inner .item.blog {
          background-color: rgba(105, 93, 115, 0.3);
          color: #695d73; }
          body.home .carousel .inner .item.blog a {
            color: #695d73; }
        body.home .carousel .inner .item.event {
          background-color: rgba(159, 97, 23, 0.3);
          color: #9f6117; }
          body.home .carousel .inner .item.event a {
            color: #9f6117; }
        body.home .carousel .inner .item.publication {
          background-color: rgba(198, 81, 70, 0.3);
          color: #c65146; }
          body.home .carousel .inner .item.publication a {
            color: #c65146; }
        body.home .carousel .inner .item:hover {
          text-decoration: none; }
  body.home .promos div.promo {
    height: 161px;
    border: 3px solid #494f43;
    position: relative;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
    body.home .promos div.promo.events {
      border-color: #9f6117; }
    body.home .promos div.promo.courses {
      border-color: #325435; }
      body.home .promos div.promo.courses form {
        padding: 7.5px 15px; }
        body.home .promos div.promo.courses form legend {
          text-transform: uppercase;
          border: 0;
          margin-bottom: 0; }
        body.home .promos div.promo.courses form .form-group {
          margin-bottom: 0; }
          body.home .promos div.promo.courses form .form-group .dropdown-toggle {
            margin-top: 5px; }
        body.home .promos div.promo.courses form input[type=submit] {
          background-color: transparent;
          border: 0;
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 18px; }
    body.home .promos div.promo.support {
      border-color: #c65146;
      padding-top: 35px; }
      body.home .promos div.promo.support a {
        display: block;
        line-height: 1;
        text-align: center;
        font-size: 40px;
        color: #c65146;
        text-transform: uppercase; }
  body .content {
    border-color: #494f43; }
    body .content .page {
      color: #494f43; }
      body .content .page .inner {
        border-width: 3px 0 0 0;
        border-style: solid; }
      body .content .page a {
        color: #494f43; }
    body .content .side .inner {
      border-width: 3px;
      border-style: solid;
      padding: 20px;
      box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.about .content .inner {
    border-color: #298c76; }
  body.about .content .page {
    color: #298c76; }
    body.about .content .page a {
      color: #298c76;
      font-size: 150%; }
    body.about .content .page ul {
      list-style-type: none; }
  body.about .content .side ul {
    margin: 0;
    padding: 15px; }
    body.about .content .side ul li {
      list-style-type: none;
      font-size: 120%; }
  body.courses .content .inner {
    border-color: #325435; }
  body.courses .content .page {
    color: #325435; }
    body.courses .content .page a, body.courses .content .page small {
      color: #325435; }
    body.courses .content .page h1 small {
      display: block;
      line-height: 1.3; }
    body.courses .content .page ul {
      list-style-type: none; }
      body.courses .content .page ul.instructors {
        padding: 0;
        overflow: auto;
        margin-top: 15px; }
        body.courses .content .page ul.instructors li {
          overflow: auto; }
          body.courses .content .page ul.instructors li img {
            float: left;
            margin: 0 15px 15px 0; }
      body.courses .content .page ul.courses a {
        font-size: 150%; }
    body.courses .content .page dl {
      overflow: auto;
      margin: 20px 0; }
      body.courses .content .page dl dt, body.courses .content .page dl dd {
        float: left; }
      body.courses .content .page dl dt {
        font-weight: normal;
        clear: left;
        width: 80px;
        text-transform: uppercase; }
  body.courses .content .side .inner {
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.events .inner {
    border-color: #9f6117; }
  body.events .content .page {
    color: #9f6117; }
    body.events .content .page a {
      color: #9f6117;
      font-size: 150%; }
    body.events .content .page ul {
      list-style-type: none; }
  body.events .content .side .inner {
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.blog .content .inner {
    border-color: #695d73; }
  body.blog .content .page {
    color: #695d73; }
    body.blog .content .page a {
      color: #695d73; }
    body.blog .content .page .date {
      font-family: "Apercu Mono Pro Regular";
      margin-bottom: 15px; }
    body.blog .content .page .post {
      margin: 0 0 60px 0; }
  body.blog .content .side .inner {
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.publications .inner {
    border-color: #c65146; }
  body.publications .content .page {
    color: #c65146; }
    body.publications .content .page a {
      color: #c65146;
      font-size: 150%; }
    body.publications .content .page ul {
      list-style-type: none; }
  body.publications .content .side .inner {
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
  body.contact .content .inner {
    border-color: #4b5245; }
  body.contact .content a {
    color: #4b5245; }
    body.contact .content a:hover {
      color: #7e8974; }
  body.contact .content .page {
    color: #4b5245; }
    body.contact .content .page a.btn-primary {
      color: white;
      background-color: #4b5245; }
    body.contact .content .page #map-canvas {
      height: 500px; }
  body.contact .content .side .inner {
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(73, 79, 67, 0.5); }
    body.contact .content .side .inner ul {
      list-style-type: none;
      font-size: 140%; }
