//colors
$default:			rgb(73, 79, 67);

$about:				rgb(41, 140, 118);
$courses:			rgb(50, 84, 53);
$courses-light:		lighten($courses, 50%);
$courses-lighter:	lighten($courses, 60%);
$events: 			rgb(159, 97, 23);
$events-light:		lighten($events, 50%);
$events-lighter:	lighten($events, 60%);
$blog:				rgb(105, 93, 115);
$blog-light:		lighten($blog, 50%);
$blog-lighter:		lighten($blog, 60%);
$publications: 			rgb(198, 81, 70);
$publications-light:	lighten($publications, 20%);
$publications-lighter:	lighten($publications, 40%);
$contact:			rgb(75, 82, 69);

//dimensions
$carousel-width:	654px;
$carousel-margin:	11px;
$carousel-height:	400px;
$control-height:	26px;
$border-width:		3px;
$promo-height:		180px;
$margin:			15px;

@mixin shadow() {
	box-shadow: 5px 5px 5px transparentize($default, .5);
}

@mixin background-opacity($color, $opacity) {
	$red:	red($color);
	$green:	green($color);
	$blue:	blue($color);
	background-color: rgba($red, $green, $blue, $opacity);
}

body {
	padding-bottom: 100px; font-family: "Apercu Pro Regular", Helvetica, Arial, sans-serif;

	a {
		color: $default;
		&:hover, &:active { color: lighten($default, 50%); }
		&:focus { outline: none; }
		&.login { cursor: pointer; }
		&.logo { display: block; }
		&.avalon_edit { 
			border-width: 1px; border-style: solid; opacity: .5; line-height: 18px;
			text-transform: uppercase; text-decoration: none;
			font-size: 10px; font-family: "Apercu Mono Pro Regular";
			vertical-align: text-top; padding: 1px 6px; 
			&:hover { text-decoration: none; opacity: 1; }
		}
	}

	input {
		font-family: "Apercu Mono Pro Regular";
		&[type=checkbox] {
			cursor: pointer;
			&:focus { outline: none; }
		}
		&[type=text], &[type=email], &[type=search], &[type=password], &[type=submit] {
			border-radius: 0; height: $control-height; box-shadow: none;
			&:focus { box-shadow: none; }
		}
	}

	select:focus, option:focus { outline: none; }

	label { font-family: "Apercu Mono Pro Regular"; font-weight: normal; font-size: 90%; margin-top: 8px; line-height: 1; }
	
	div.checkbox {
		margin-top: 0; padding: 0;
		label { font-family: "Apercu Pro Regular"; }
		.chkbox {
			width: 20px; height: 20px; float: left; margin-right: 10px; background-color: lighten($default, 50%); 	
			text-align: center; color: $default; 
			i { font-size: 180%; line-height: .9; margin-left: -3px; visibility: hidden; }
			&.active i { visibility: visible; }
		}

	}
	
	p { margin: 0 0 $margin 0; }

	dt { font-family: "Apercu Mono Pro Regular"; }

	.btn-group {
		font-family: "Apercu Mono Pro Regular";
		button { 
			border-radius: 0; padding-top: 3px; padding-bottom: 3px;
			&.active { 
				box-shadow: none; cursor: inherit; 
				&:hover { background-color: transparent; }
			}
		}
		&.dropdown {
			width: 100%; position: relative;
			button { width: 100%; height: $control-height; border-radius: 0; text-align: left; line-height: 1; }
			span.caret { border-width: 9px 6px; position: absolute; top: 9px; right: 4px; }
			// span.selected { background-color: pink; }
			ul {
				min-width: 100%; max-height: 300px; overflow-y: scroll; border-radius: 0;
				li {
					a {
						cursor: pointer;
					}
				}
			}
		}
	}

	//either promo or section/body class
	&.courses form.switchboard, &.home .promo.courses {
		input[type=text] { border-color: $courses-light; }
		.btn-group {
			button {
				border-color: $courses-light;
				&.active { 
					background-color: $courses-light; 
					&:hover { background-color: $courses-light; }
				} 
				&:hover { background-color: $courses-lighter; }
			}
			&.dropdown {
				button { background-color: $courses-light; }
				span.caret { color: $courses; }
				ul { 
					background-color: $courses-lighter; 
					li.active a, li a:hover, li.divider { background-color: $courses-light; }
				}
			}
		}
	}

	&.events form.switchboard {
		input[type=text] { border-color: $events-light; }
		.btn-group {
			button {
				border-color: $events-light;
				&.active { 
					background-color: $events-light; 
					&:hover { background-color: $events-light; }
				} 
				&:hover { background-color: $events-lighter; }
			}
			&.dropdown {
				button { background-color: $events-light; }
				span.caret { color: $events; }
				ul { 
					background-color: $events-lighter; 
					li.active a, li a:hover, li.divider { background-color: $events-light; }
				}
			}
		}
	}

	&.blog form.switchboard {
		input[type=text] { border-color: $blog-light; }
		.btn-group {
			button {
				border-color: $blog-light;
				&.active { 
					background-color: $blog-light; 
					&:hover { background-color: $blog-light; }
				} 
				&:hover { background-color: $blog-lighter; }
			}
			&.dropdown {
				button { background-color: $blog-light; }
				span.caret { color: $blog; }
				ul { 
					background-color: $blog-lighter; 
					li.active a, li a:hover, li.divider { background-color: $blog-light; }
				}
			}
		}
		.chkbox { background-color: $blog-light; }
	}

	&.publications form.switchboard {
		input[type=text] { border-color: $publications-light; }
		.btn-group {
			button {
				border-color: $publications-light;
				&.active { 
					background-color: $publications-light; 
					&:hover { background-color: $publications-light; }
				} 
				&:hover { background-color: $publications-lighter; }
			}
			&.dropdown {
				button { background-color: $publications-light; }
				span.caret { color: $publications; }
				ul { 
					background-color: $publications-lighter; 
					li.active a, li a:hover, li.divider { background-color: $publications-light; }
				}
			}
		}
		.chkbox { background-color: $publications-light; }
	}

	.wallpaper {
		position: relative; padding: 20px; min-height: 400px; font-size: 160%; 
		&::after {
			content: "";
			background: url(/assets/img/wallpaper-bush1.jpg);
			opacity: 0.3;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;   
		}
	}

	.row { 
		padding-top: $margin * 2; 
		&.banner {
			padding-top: $margin; height: 127px;
			div {
				position: relative; 
				a.logo { position: fixed; left: 94px; }
				nav#utility {
					position: absolute; right: $margin * 2; top: 0;
					a { 
						color: $about; margin-left: $margin * 2;
						&.dashicons { 
							font-size: 200%; line-height: .7; 
							&:last-child { margin-left: $margin / 2; }
							&:hover, &:focus, &:active { text-decoration: none; color: lighten($default, 20%); }
						}
					}
				}
			}
		}
		&.nav {
			text-align: center; 
			a { 
				text-transform: uppercase; font-size: 16px;
			}
			div.active a, div a:hover { 
				text-decoration: underline; 
				&.about { color: $about; }
				&.courses { color: $courses; }
				&.events { color: $events; }
				&.blog { color: $blog; }
				&.publications { color: $publications; }
				&.contact { color: $contact; }
			}
		}
		&.page {
			padding-top: $margin; border-color: $default;
			.content {
				color: $default; font-size: 115%;
				.inner { border-width: $border-width 0 0 0; border-style: solid; }
				a { color: $default; }
			}
			.side {
				form.switchboard {
					border-width: $border-width; border-style: solid; padding: 20px 20px 5px; @include shadow();
				}
			}
		}
	}

	&.home {
		.carousel {
			overflow-x: hidden; margin: $margin 0 0 0; height: $carousel-height; 
			
			.item {
				height: $carousel-height; width: $carousel-width; overflow: hidden;
				color: inherit; 

				.inner { 
					margin: 0 $margin / 2; position: relative; 
					h1 { position: absolute; left: 60px; top: 60px; font-size: 42px; line-height: 1.3; }
					img { width: 100%; height: auto; opacity: .15; }
					.description { position: absolute; left: 60px; top: 280px; text-transform: uppercase; }
					.type { text-transform: uppercase; position: absolute; left: 20px; top: 20px; }
				}

				&.course .inner	{ 
					background-color: transparentize($courses, .7); 
					color: $courses;
					a { color: $courses; }
				}

				&.blog .inner { 
					background-color: transparentize($blog, .7); 
					color: $blog;
					a { color: $blog; }
				}

				&.event	.inner { 
					background-color: transparentize($events, .7); 
					color: $events;
					a { color: $events; }
				}

				&.publication .inner { 
					background-color: transparentize($publications, .7); 
					color: $publications;
					a { color: $publications; }
				}

				&:hover { text-decoration: none; }
			}
		}
		.promos {
			div.promo { 
				height: $promo-height; border: $border-width solid $default; position: relative;
				@include shadow();
				&.events { 
					border-color: $events; padding: $margin 20px; font-size: 120%;
					table { 
						width: 100%; 
						th { font-size: 90%; }
						th, td { text-align: center; height: 29px; }
						tbody th { text-align: right; width: 0; }
						a { font-weight: bold; }
					}
				}
				&.courses { 
					border-color: $courses; 
					form {
						padding: $margin / 2 $margin;
						legend { text-transform: uppercase; border: 0; margin-bottom: 0; }
						label { font-size: 100%; }
						.form-group { 
							margin-bottom: 0; 
							.dropdown-toggle { margin-top: 5px; }
						}
						input[type=submit] {
							background-color: transparent; border: 0;
							text-decoration: underline; text-transform: uppercase; font-size: 18px;
						}

					}
				}
				&.support { 
					border-color: $publications; padding-top: $promo-height / 4; 
					a { display: block; line-height: 1; text-align: center; font-size: 40px; color: $publications; 
						text-transform: uppercase; }
				}
			}
		}
	}

	&.about {
		.page {
			.inner { border-color: $about; }
			.content {
				color: $about; 
				a { color: $about; }
				ul { list-style-type: none; }
			}
			.side {
				.wallpaper {
					@include background-opacity($about, .2);
				}
				ul {
					margin: 0; padding: $margin;
					li {
						list-style-type: none; 
						&.active {
							a { color: $about; text-decoration: underline; }
						}
					}
				}
			}
		}
	}

	&.courses {
		.page {
			.page .inner, form.switchboard { border-color: $courses; }
			.content {
				color: $courses;
				a, small { color: $courses; }
				h1 small { display: block; line-height: 1.3; }
				ul { 
					list-style-type: none;  
					&.instructors {
						padding: 0; overflow: auto; margin-top: $margin;
						li {
							overflow: auto;
							img { float: left; margin: 0 $margin $margin 0; }
						}
					}
					&.courses {
						a { font-size: 150%; }
					}
				}
				dl {
					overflow: auto; margin: 20px 0;
					dt, dd { float: left; }
					dt { font-weight: normal; clear: left; width: 80px; text-transform: uppercase; }
					dd { }
				}
			}
			.side {
				.wallpaper {
					@include background-opacity($courses, .2);
					h2 { 
						line-height: 1.2; 
						small { color: inherit; }
					}
					
					span { font-family: "Apercu Mono Pro Regular"; font-size: 60%; text-transform: uppercase; }
					.description { font-size: 80%; }
				}
				ul {
					margin: 0; padding: $margin;
					li {
						list-style-type: none; 
						&.active {
							a { color: $about; text-decoration: underline; }
						}
					}
				}
			}
		}
	}

	&.events {
		.page {
			.page .inner, form.switchboard { border-color: $events; }
			.content {
				color: $events; 
				a { color: $events; }
				div.event {
					div.date { font-weight: bold; }
					div.description {
						margin: 0 0 20px 20px; 
						div.meta {
							font-weight: bold; overflow: auto; 
							div.time, div.price, div.location { float: left; margin-right: 20px; }
							div.button { 
								float: right; 
								a { background-color: $events; color: white; width: 180px; display: block; text-align: center; }
							}
						}
					}
				}
			}
			.side {
				.wallpaper {
					@include background-opacity($events, .2);
				}
			}
		}
	}

	&.blog {
		.page {
			.page .inner, form.switchboard { border-color: $blog; }
			.content {
				color: $blog; 
				a { color: $blog; }
				.date { font-family: "Apercu Mono Pro Regular"; margin-bottom: $margin; }
				.post { margin: 20px 0 40px 0; }
			}
			.side {
				.wallpaper {
					@include background-opacity($blog, .2);
				}
			}
		}
	}

	&.publications {
		.page {
			.page .inner, form.switchboard { border-color: $publications; }
			.content {
				color: $publications; 
				a { color: $publications; font-size: 150%; }
				img { 
					margin: 5px 20px 20px -60px; float: left; 
					&.portrait { width: 220px; height: auto; }
					&.landscape { height: 220px; width: auto; }
				}
				ul { clear: left; }
				.publication { 
					margin-bottom: 20px; 
					.inner {
						background-color: $publications-lighter; 
						height: 300px; border: 0;
						background-size: contain; 
						background-position: center;
						background-repeat: no-repeat;
						a { 
							display: block; height: 300px; padding-top: 36%;
							background-color: $publications; opacity: 0;
							div { 
								// display: none; 
								font-size: 80%;
								color: white;
								text-align: center;
								line-height: 1; font-style: italic;
								.separator { border-top: $border-width solid white; width: 20px; margin: 20px auto; }
							}
							&:hover { opacity: .8; }
						}
					} 

				}
			}
			.side {
				.wallpaper {
					@include background-opacity($publications, .2);
				}
			}
		}
	}

	&.contact {
		.page {
			.inner { border-color: $contact; }
			a { 
				color: $contact; 
				&:hover { color: lighten($contact, 20%);  }
			}			
			.content {
				color: $contact; 
				a.btn-primary { color: white; background-color: $contact; }
				#map-canvas { height: 500px; }
			}
			.side {
				.wallpaper {
					@include background-opacity($contact, .2);
					ul { 
						list-style-type: none; padding-left: 24px;
						li { 
							margin: 20px 0; 
							a { 
								i { margin-right: 10px; }
							}
						}
					}
				}
			}
		}
	}
}