//colorz
$default:			rgb(73, 79, 67);

$about:				rgb(41, 140, 118);
$courses:			rgb(50, 84, 53);
$events: 			rgb(159, 97, 23);
$blog:				rgb(105, 93, 115);
$publications: 		rgb(198, 81, 70);
$contact:			rgb(75, 82, 69);

//dimensionz
$carousel-width:	654px;
$carousel-margin:	11px;
$carousel-height:	400px;
$border-width:		3px;
$promo-height:		161px;
$margin:			15px;

@mixin shadow() {
	box-shadow: 5px 5px 5px transparentize($default, .5);
}

body {
	padding-bottom: 100px; font-family: "Apercu Pro Regular", Helvetica, Arial, sans-serif;

	a {
		color: $default;
		&:hover, &:active { color: lighten($default, 50%); }
		&:focus { outline: none; }
		&.login { cursor: pointer; }
		&.logo { display: block; }
	}

	input[type=checkbox] {
		cursor: pointer;
		&:focus { outline: none; }
	}

	select:focus, option:focus { outline: none; }

	label { font-family: "Apercu Mono Pro Regular"; font-weight: normal; font-size: 90%; }
	div.checkbox {
		margin-top: 0;
		label { font-family: "Apercu Pro Regular"; }
	}

	.btn-group { font-family: "Apercu Mono Pro Regular"; }
	
	p { margin: 0 0 $margin 0; }

	dt { font-family: "Apercu Mono Pro Regular"; }

	button.dropdown-toggle {
		background-color: lighten($courses, 50%); border-radius: 0; width: 172px; height: 20px;
		position: relative;
		span.caret { border-width: 9px; color: $courses; position: absolute; top: 9px; right: 0; }
	}

	.row { 
		padding-top: $margin * 2; 
		&.banner div {
			position: relative; 
			nav#utility {
				position: absolute; right: $margin * 2; top: 0;
				a { 
					color: $about; margin-left: 40px;
					&.dashicons { 
						font-size: 240%; line-height: .5; 
						&:last-child { margin-left: 10px; }
						&:hover, &:focus, &:active { text-decoration: none; color: lighten($default, 20%); }
					}
				}
			}
		}
		&.nav {
			text-align: center; 
			a { 
				text-transform: uppercase; font-size: 16px;
			}
			div.active a, div a:hover { 
				text-decoration: underline; 
				&.about { color: $about; }
				&.courses { color: $courses; }
				&.events { color: $events; }
				&.blog { color: $blog; }
				&.publications { color: $publications; }
				&.contact { color: $contact; }
			}
		}
		&.content {
			padding-top: $margin; border-color: $default;
			.page {
				color: $default; font-size: 115%;
				.inner { border-width: $border-width 0 0 0; border-style: solid; }
				a { color: $default; }
			}
			.side {
				.inner {
					border-width: $border-width; border-style: solid; padding: 20px; @include shadow();
				}
			}
		}
	}

	&.home {
		.carousel {
			padding-top: $margin; width: 100%; height: $carousel-height + $margin; overflow-x: hidden;
			.inner {
				width: ($carousel-width + $carousel-margin) * 7; margin-left: -60px;
				.item {
					float: left; height: $carousel-height; width: $carousel-width; overflow: hidden;
					margin-right: $margin; padding: 20px 40px; position: relative; color: inherit;

					h1 { margin: 40px 0 0 0; font-size: 43px; line-height: 1.3; }
					img { position: absolute; top: 0; left: 0; opacity: .15; }
					.description { margin: 20px; text-transform: uppercase; }
					.type { text-transform: uppercase; position: absolute; top: 20px; }
					&.course	{ 
						background-color: transparentize($courses, .7); 
						color: $courses;
						a { color: $courses; }
					}
					&.blog	{ 
						background-color: transparentize($blog, .7); 
						color: $blog;
						a { color: $blog; }
					}
					&.event	{ 
						background-color: transparentize($events, .7); 
						color: $events;
						a { color: $events; }
					}
					&.publication	{ 
						background-color: transparentize($publications, .7); 
						color: $publications;
						a { color: $publications; }
					}

					&:hover { text-decoration: none; }
				}
			}
		}
		.promos {
			div.promo { 
				height: $promo-height; border: $border-width solid $default; position: relative;
				@include shadow();
				&.events { border-color: $events; }
				&.courses { 
					border-color: $courses; 
					form {
						padding: $margin / 2 $margin;
						legend { text-transform: uppercase; border: 0; margin-bottom: 0; }
						.form-group { 
							margin-bottom: 0; 
							.dropdown-toggle { margin-top: 5px; }
						}
						input[type=submit] {
							background-color: transparent; border: 0;
							text-decoration: underline; text-transform: uppercase; font-size: 18px;
						}

					}
				}
				&.support { 
					border-color: $publications; padding-top: 35px; 
					a { display: block; line-height: 1; text-align: center; font-size: 40px; color: $publications; 
						text-transform: uppercase; }
				}
			}
		}
	}

	&.about {
		.content {
			.inner { border-color: $about; }
			.page {
				color: $about; 
				a { color: $about; font-size: 150%; }
				ul { list-style-type: none; }
			}
			.side {
				ul {
					margin: 0; padding: $margin;
					li {
						list-style-type: none; font-size: 120%; 
					}
				}
			}
		}
	}

	&.courses {
		.content {
			.inner { border-color: $courses; }
			.page {
				color: $courses;
				a, small { color: $courses; }
				h1 small { display: block; line-height: 1.3; }
				ul { 
					list-style-type: none;  
					&.instructors {
						padding: 0; overflow: auto; margin-top: $margin;
						li {
							overflow: auto;
							img { float: left; margin: 0 $margin $margin 0; }
						}
					}
					&.courses {
						a { font-size: 150%; }
					}
				}
				dl {
					overflow: auto; margin: 20px 0;
					dt, dd { float: left; }
					dt { font-weight: normal; clear: left; width: 80px; text-transform: uppercase; }
					dd { }
				}
			}
			.side {
				.inner {
					padding: 20px; @include shadow();
				}
			}
		}
	}

	&.events {
		.inner { border-color: $events; }
		.content {
			.page {
				color: $events; 
				a { color: $events; }
				div.event {
					div.date { font-weight: bold; }
					div.description {
						margin: 0 0 20px 20px; 
						div.meta {
							font-weight: bold; overflow: auto; 
							div.time, div.price, div.location { float: left; margin-right: 20px; }
							div.button { 
								float: right; 
								a { background-color: $events; color: white; width: 180px; display: block; text-align: center; }
							}
						}
					}
				}
			}
			.side {
				.inner {
					padding: 20px; @include shadow();
				}
			}
		}
	}

	&.blog {
		.content {
			.inner { border-color: $blog; }
			.page {
				color: $blog; 
				a { color: $blog; }
				.date { font-family: "Apercu Mono Pro Regular"; margin-bottom: $margin; }
				.post { margin: 0 0 60px 0; }
			}
			.side {
				.inner {
					padding: 20px; @include shadow();
				}
			}
		}
	}

	&.publications {
		.inner { border-color: $publications; }
		.content {
			.page {
				color: $publications; 
				a { color: $publications; font-size: 150%; }
				ul { list-style-type: none; }
			}
			.side {
				.inner {
					padding: 20px; @include shadow();
				}
			}
		}
	}

	&.contact {
		.content {
			.inner { border-color: $contact; }
			a { 
				color: $contact; 
				&:hover { color: lighten($contact, 20%);  }
			}			
			.page {
				color: $contact; 
				a.btn-primary { color: white; background-color: $contact; }
				#map-canvas { height: 500px; }
			}
			.side {
				.inner {
					padding: 20px; @include shadow();
					ul { list-style-type: none; font-size: 140%; }
				}
			}
		}
	}
}